body {
  font-family: "Verlag A", "Verlag B";
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Verlag A", "Verlag B";
  font-style: normal;
  font-weight: 700;
}
#savely-container .container{
  margin-left: 0 auto;
  margin-right: 0 auto;

}
#transactions_column, #charts_column, #budgets_column {
  text-align: center;
}
.addTransaction {
  height: 575px;
}
#savely_logo {
  text-align: center;
  color: #468A15;
  font-size: 3em;
}
#budgets_column .cash_flow_table {
  font-size: 2.25em;
}
#receipt-dropzone {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
#footer {
  height: 2em;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 300;
}
