body {
  font-family: "Verlag A", "Verlag B";
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Verlag A", "Verlag B";
  font-style: normal;
  font-weight: 700;
}
#transactions_column, #charts_column, #budgets_column {
  text-align: center;
}
#savely_logo {
  text-align: center;
  color: #468A15;
  font-size: 3em;
}
#footer {
  height: 2em;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 300;
}
