body {
  font-family: "Gotham Narrow A", "Gotham Narrow B", "Helvetica Neue", "Arial", "sans-serif";
  width: 100px;
}
header {
  height: 70px
}
th, td {
  text-align: center;
}
#root {
  background-color: #dedede;
  margin: 0px 0px 0px 0px;
  width: 1440px;
}
#carousel {
  height: 50px;
  width: 1440px;
  text-align: center;
}
.dots {
  position: relative;
  display: inline-block;
  margin: 0px 20px 0px 20px;
  padding: 0;
  list-style: none;
  cursor: default;
  vertical-align: center;
  line-height: 50px;
}
#carousel li {
  position: relative;
  display: block;
  float: left;
  margin: 0 20px 0 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#carousel li a{
  outline: 0;

}
#budget_status_chart {
  text-align: center;
  margin-right: 0 auto;
  margin-right: 0 auto;
  margin-top: 20px;
  float: none;
  font-size: 14pt;
  line-height: 14pt;
  width: 50%;
}
#budget_status_chart td, #budget_status_chartth {
  padding-left: 10px;
  font-size: 14pt;
  line-height: 14pt;
  padding-right: 10px;
}
#cash_flow_table_container {
  padding-left: 45px;
  padding-right: 30px;
  padding-top: 20px;
}
#cash_flow_table {
  text-align: center;
  font-size: 20pt;
}
#cash_flow_table th{
  font-weight: 500;
}
#spending_categories_chart_container {
  width: 50%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
#logoSavely {
  display: block;
  margin: auto;
}
#savely-container {
  padding: 0px 0px 0px 0px;
  width: 1440px;
}
#dashboard_header {
  background: white;
  background: linear-gradient(#FEFFFE, white);
  height: 70px;
}
.dashboard_container {
  margin: 10px 140px 0px 140px;
  background-color: white;
  border: 1px solid #B2B2B2;
  border-radius: 10px;
  padding: 5px 0 0 0px;
  text-align: center;
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
#transactions_column {
  text-align: center;
  width: 1080px;
  margin: auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham Narrow A", "Gotham Narrow B";
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
#pie-chart-container {
  /*margin-bottom: 50px;*/
  padding: 0px 0px 0px 0px;
  width: 50%;
}
#savings_chart_container {
  height: 300;
}
#cash_flow_table {
  font-size: 1.75em;
  line-height: 1em;
  background-color: white;
  margin: 10px 7px 7px 7px;
}
.addTransaction {
  height: 575px;
  background-color: white;
  font-family: 'Gotham Narrow';
}
#savely_logo {
  text-align: center;
  color: #3f9c35;
  font-size: 3em;
}
#receipt-dropzone {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;

}
#footer {
  width: 1440px;
  text-align: center;
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-style: normal;
  font-weight: 400;
}
div#splashContent {
  width: 1440px;
  height: 958px;
  margin: 0;
  background: url('splashBackground.jpg');
  background-repeat: no-repeat;
  -moz-box-shadow: inset 10px 10px 50px #7E7E74;
  -webkit-box-shadow: inset 10px 10px 50px #7E7E74;
  box-shadow: inset 0px 0px 50px #7E7E74;
}
.form-group, .btn-lg, .btn, hr, .sign, #loginButton {
  width: 300px;
  margin: auto;
  padding: 5px;
  display: inherit;
}
.col-sm-6 {
  margin: auto;
  float: none;
}
.fa-sign-in {
  margin-top: 50px;
}
