<!doctype html>
<html>
<head>
    <title>Savely</title>
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6879492/7452372/css/fonts.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" /> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/styles.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" /> <!-- load fontawesome -->

</head>
<body>
<div class="container" id="savely-container">
