<% include head.ejs%>
  <header><img id='logoSavely' src='/assets/logoGreen.png'></img></header>
    <div id='profilejs'>
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home page</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Account Information</h3>

                <% if (user.email) { %>
                <p>
                    <strong>Display name</strong>: <%= user.display %><br>
                    <strong>ID</strong>: <%= user.id %><br>
                    <strong>Email</strong>: <%= user.email %>
                </p>

                <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Personal Information</h3>

                <% if (user.email) { %>
                <div class="container">
                  <div id="table" class="table-editable">
                    <span class="table-add glyphicon glyphicon-plus"></span>
                    <table class="table">
                      <tr>
                        <th>Categories</th>
                        <th></th>
                      </tr>
                      <tr>
                        <td contenteditable="true">Rent</td>
                        <td>
                          <span class="table-remove glyphicon glyphicon-remove"></span>
                        </td>
                      </tr>
                      <!-- This is our clonable table line -->
                      <tr class="hide">
                        <td contenteditable="true">Untitled</td>
                        <td>
                          <span class="table-remove glyphicon glyphicon-remove"></span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

<% include foot.ejs%>
