<% include head.ejs%>
  <header><img id='logoSavely' src='/assets/logoGreen.png'></img></header>
    <div id='loginjs'>
    <div class="col-sm-6 col-sm-offset-3" id="splashContent">
        <h1 class='extra_thin' id='controlMotto'>Take control of your money</h1>
        <h2 class='extra_thin' id='controlTagline'>Savely helps you manage your finances and budget easily, quickly, and efficiently</h2>
        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
            <button type="submit" id="signUpForFree" class="btn btn-warning btn-lg">SIGN UP FREE</button>
        </form>
        <p class="sign">Already have an account? <a href="/login">Login Here</a></p>
    </div>

<% include foot.ejs%>
